*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.nav{
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 100px;
}

.nav-wrapper{
    max-width: 1100px;
    height: 100%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100px;
}

.nav-wrapper .logo-nav{
    height: 100%;
    align-items: center;
    display: flex;
    color: #fff;
}

.nav-wrapper ul{
    display: flex;
    gap: 50px;
}

.nav-wrapper ul li{
    list-style: none;
    transition: text-shadow 250ms ease;
}
.nav-wrapper ul li:hover{
    text-shadow: 
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 50px #fff;
}

.nav-wrapper ul li a{
    text-decoration: none;
    color: #fff
}












/* hero section */
.hero{
    background-image: url(./hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}

.intro{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro h1{
    font-size: 3.5rem;
}
.intro h3{
    margin-top: 10px;
    font-size: 1.5rem;
}
.intro .par{
    margin-top: 30px;
    max-width: 900px;
    text-align: center;
}
.intro p{
    font-size: 1.2rem;
}


.hero .shortcut-links ul{
    display: flex;
}

.hero .shortcut-links ul li{
    list-style: none;
}

.hero .shortcut-links ul li a{
    text-decoration: none;
    color: #fff;
}




/* main */
.main{

    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 50px;
    z-index: -99999999999999px;
}




/* movie category */
.main .feature{
    width:  100%;
}

.main .feature .title{
    text-align: center;
    padding: 75px 0 50px 0;
}

.main .feature .info{
    width: 50%;
    padding: 30px;
}

.main .feature .info p{
    margin-top: 20px;
}


.feature .characters{
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 50px;
}
.feature .characters ul{
    margin-top: 10px;
}
.feature .characters li{
    list-style: none;
}

.movie{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 35px;
}
.movie .pic{
    width: 50%;
}
.movie .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.desc{
    margin: 50px 0 35px 0;
    background-color: #fff;
    padding: 35px 100px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
    text-align: center;
}
.desc h2{
    margin-bottom: 10px;
}
.desc p{
    margin-top: 10px;
}

.content .div{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
}

.content{
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1100px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-bottom: 50px;
}
.content .info{
    padding: 20px;
}
.content .div .pic{
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    transition: transform 250ms ease;
}
.content .div .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: 500ms ease;
}
.content .div .pic:hover img{
    transform: scale(1.1);
    z-index: -9999999999999999999999px;
}

.content .info p{
    margin-top: 10px;
}

.movie-section{
    width: 100%;
    background: url(./piratesofthecaribbean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.movie-section .white{
    background-image: linear-gradient(
        to left top,
        #fff 25%,
        /* transparent */
        rgba(225,225,225, 0.6)
    );
}


.movie-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}













/* anime-------------------------------------------*/
.anime-section{
    width: 100%;
    background: url(./aot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.anime-section .white{
    background-image: linear-gradient(
        to right top,
        #fff,
        rgba(225,225,225, 0.6)
    );
}

.anime{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
}

.anime-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

.anime .div-anime{
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
}

.anime .div-anime .pic{
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    z-index: -999px;
}
.anime .div-anime .pic:hover img{
    transform: scale(1.1);
}

.anime .div-anime .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: 500ms ease;
}

.anime .div-anime .info{
    padding: 20px;
}

.anime .div-anime .info p{
    margin-top: 10px;
}








/* cartoons-------------------------------------*/
.cartoon-section{
    width: 100%;
    background: url(./avatar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cartoon-section .white{
    background-image: linear-gradient(
        to left top,
        #fff 25%,
        /* transparent */
        rgba(225,225,225, 0.6)
    );
}

.cartoon-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

.cartoon{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 50px;
}
.cartoon .div-cart{
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
    background: #fff;
    border-radius: 10px;
}
.cartoon .div-cart .pic:hover img{
    transform: scale(1.1);
}
.cartoon .div-cart .pic{
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
}
.cartoon .div-cart .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: 500ms ease;
}

.cartoon .div-cart .info{
    padding: 20px;
}

.cartoon .div-cart .info p{
    margin-top: 10px;
}





/* about-------------------------*/
.about{
    min-height: 100vh;
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
}
.about .title{
    text-align: center;
    margin: 75px auto 50px auto;
    max-width: 900px;
}
.about .title hr{
    margin-top: 10px;
}

/* developer */
.about .developer{
    width: 100%;
    margin-bottom: 50px;
}
.about .developer .title{
    margin: 0 auto 20px auto;
}
.about .developer .pic img{
    border-radius: 10px;
}
.about .developer .main-content{
    display: flex;
    gap: 50px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
.about .developer .main-content .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about .developer .main-content .social{
    padding: 10px;
    background-color: #262626;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
.about .developer .main-content .social img{
    transition: transform 250ms ease;
    cursor: pointer;
}
.about .developer .main-content .social img:hover{
    transform: scale(1.2);
}
/* structure */
.about .structure-feature .content{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.about .structure-feature .title{
    margin: 0 auto 20px auto;   
}
.about .structure-feature .content ul li{
    margin-left: 50px;
}
/* logo */
.about .logo{
    margin-bottom: 50px;
}
.about .logo .title{
    margin: 0 auto 20px auto;
}
.about .logo p{
    text-align: center;
    margin-bottom: 20px;
}
.about .logo .pic{
    margin: 0 auto;
    width: 600px;
    padding: 10px;
    background-color: #262626;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
/* color scheme */
.about .color-scheme .title{
    margin: 0 auto 20px auto;   
}

.about .content .color {
    margin: 0 auto;
    display: flex;
    gap: 100px;
    margin-bottom: 75px;
}
.about .content .color .box{
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform 250ms ease;
}
.about .content .color .box:hover{
    transform: scale(1.1);
}
.about .content .color .box:nth-child(1){
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #262626;
    color: #fff;
}
.about .content .color .box:nth-child(2){
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #f23041;
    color: #fff;
}
.about .content .color .box:nth-child(3){
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid grey;
}










/* footer-------------------------*/
.footer{
    width: 100%;
    height: 250px;
    background-color: #262626;
}
.footer-wrapper{
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.footer h2{
    font-weight: 400;
}

.footer li{
    list-style: none;
    font-weight: 200;
}

.footer .about-movie-review{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-movie-review ul li{
    margin-top: 10px;
}

.footer .quick-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .quick-links ul li{
    margin-top: 10px;
}
.footer .get-in-touch{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.footer .get-in-touch img{
    width: 32px;
    cursor: pointer;
    transition: transform 250ms ease;
}
.footer .get-in-touch img:hover{
    transform: scale(1.2);
}